.items{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .items button{

    padding: 15px;
    margin: 20px;
    font: inherit;
    font-size: 2rem;
    cursor: pointer;
    
    background: none repeat scroll 0 0 transparent;
    border: medium none;

    /* font-weight: 420; */
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }
