.items{
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 2rem;
    gap: 2rem;

    overflow-y: auto;
    max-height: 100dvh;

    margin-top: 2.1rem;

  }

  .items::after {
  content: "";
  min-height: 3rem;
}


  .items button{
    border: none;
    padding: 12px 15px 12px 15px;
    /* margin: 15px; */
    font-size: 1.6rem;
    font-weight: 420;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.782);
    transition: 0.2s;
    background-color: rgba(172, 31, 31, 0);
    border-radius: 1rem;
    /* box-shadow: 0 0 4rem rgba(137, 137, 137, 0.24); */

  }