body:has(.requires-no-scroll) {
  overflow: hidden;
}



select{
appearance: none;
padding: 18px;
font: inherit;
border-radius: 15px;
border-color: rgba(250, 235, 215, 0);
font-size: 1rem;
background-color: rgba(251, 251, 251, 0.574);
}


.fullscreenMenu{
  transition: 0.6s;
  z-index: 1;
  position: fixed;
  inset: 1.2rem 1.2rem 0.6rem;
  display: flex; 
  flex-direction: column;
  border-radius: 2rem;

  background-color: rgba(248, 248, 248, 0.671);
  text-align: center;
  backdrop-filter: saturate(150%) blur(20px);  

  box-shadow: 0 0 4rem rgba(137, 137, 137, 0.24);
}


  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .items a{
    padding: 12px 15px 12px 15px;
    margin: 15px;
    font-size: 1.8rem;
    font-weight: 420;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    background-color: rgba(253, 253, 253, 0.456);
    border-radius: 1rem;
    box-shadow: 0 0 4rem rgba(137, 137, 137, 0.24);
    /* border: 2px solid rgba(255, 255, 255, 0.194); */
  }

.topButtons {
    display: flex;
    flex-direction: row;
}

.left{
    position: fixed;
    width: auto;
    left: 0px;
    top: 0px;
}

.right{
    position: fixed;
    width: auto;
    right: 0px;
    top: 0px;
}

.close, .back{
  margin: 0.6rem;
  background-color: rgba(255, 255, 255, 0.731);
  border-radius: 50%;
  filter: drop-shadow(0 0 3rem rgba(125, 125, 125, 0.738));
}

.right img, .left img{
  border: 2px solid rgba(255, 255, 255, 0.194);
  width:1.6rem;
  padding: 0.8rem; 
}

.topButtons img{
cursor: pointer;
}

