
.testParent{
    z-index: 1;
    position: fixed;
    top: 2.6rem;
    right: 1.4rem;
    
    /* The Magic Sauce */
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    

    max-height: 80vh;
    overflow-y: auto;

    background-color: rgba(228, 228, 228, 0.653);
    
    
    border-radius:  15px;
    padding: 15px;
    backdrop-filter: saturate(180%) blur(20px);   
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.137);

}

.test{
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    display: block;
    border-radius: 6px;   
}

.test:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.099);
}


