/* .dropdown button {
    border: medium none;
    padding: 4px 8px 4px 8px;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    transition: 0.2s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90rem;
} */

/* .dropdown button:hover {
    border-radius: 4px;
    background-color: rgb(200, 200, 200);
}

.dropdown button:active {
    
    background-color: rgb(163, 163, 163);
} */


.testParent{
    z-index: 1;
   position: fixed;
  top: 2.9rem;
  right: 2.4rem;
  
  /* The Magic Sauce */
  display: flex;
  flex-direction: column; 
  gap: 8px; 
  
  /* Optional: give it a max-height and scrolling if your array is huge */
  max-height: 80vh;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 0.728);
  
   border-radius:  15px;
padding: 15px;
    backdrop-filter: saturate(180%) blur(20px);  
     /* filter: drop-shadow(0 0 3.3rem rgba(137, 137, 137, 0.24)); */
     box-shadow: 0 0 3.3rem rgba(137, 137, 137, 0.24);

    
}

/* .{
    position: relative;
  
} */

.test{
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.742);
    display: block;
    /* margin-bottom: 10px; */
    border-radius: 6px;
    
    
}

.test:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.04);
}


