.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.813);
    z-index: 2;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    backdrop-filter:  blur(1px);   
}

.selectedImage {
    /* margin-top: auto;
    margin-bottom: auto; */
 max-width: 80%;
 max-height: 80%;
border-radius: 6px;
 
}

.buttons{
    display: flex;
    flex-direction: row;
}

.close {
    
    transition: 0.2s;
    border: none;
    font: inherit;  
    background-color: rgba(93, 93, 93, 0.785);
    margin: 20px 10px 0px 10px;
    cursor: pointer;

    border-radius: 50%;

    padding: 10px;

    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */

    /* width:20px;
    height: 20px; */

}

.close img{
    filter: invert(1);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 1rem;
}
@media (hover: hover) {
    .close:hover{
        background-color: rgba(104, 104, 104, 0.889);
        transform: scale(1.06);

    }

    .close:active{
        background-color: rgba(131, 131, 131, 0.889);
    }
}