body.scroll{
    overflow:hidden;
    
}

.parent{
    position: relative;
}

.headerLink{
    text-decoration: none;
    color: black;    
}

.down{
    margin-left: 0rem;
    align-items: center;
}

.parent0{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 4rem;
    
}

.parent1{
    margin-left: auto;
    /* background-color: red; */
}