body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, h1, a{
  display: inline;  
  padding: 0px 15px 0px 15px;
  font-weight: 550;
  font-size: 30px;
}

header{

}

nav {
  float: right;
  background-color: rgb(255, 255, 255);
  text-align: right;
}

a{
  font-weight: 420;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a:hover {
    /* font-size: 30px; */
  color: rgb(103, 103, 103);
}

img {
  padding: 0px 15px 0px 15px;
}


