/*Universal properties*/
body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 12px;
}

h1{
  font-weight: 550;
  display: inline;  
  padding: 0px 15px 0px 15px;
  font-size: 30px;
}

nav {
  float: right;
  text-align: right;
}

p{
  font-size: 300px;
}

#NavBarSmallExpanded{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
  }

/*Large-screen properties, 821px and up*/
@media (min-width: 821px) {
  #NavBarBig{
    display: initial;
  }
  #NavBarSmall{
    display: none;
  }

  a{
    display: inline;  
    padding: 0px 15px 0px 15px;
    font-size: 30px;
    font-weight: 420;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }

  a:hover {
    color: rgb(104, 103, 103);
  }  
}

  

/*Small-screen properties, 820px and down*/
@media (max-width: 820px) { 
  #NavBarBig{
    display: none;
  }
  #NavBarSmall{
    display: initial;
  }

  img{
    margin: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
  }
  img:hover{
    opacity: 0.7;
  }

  a{
    padding: 15px;
    margin: 20px;
    font-size: 40px;
    font-weight: 420;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }


  #items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #NavBarSmallExpanded.show{
    display: block;
  }

}
