/*Universal properties*/
body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 12px;
}

h1{
  font-weight: 550;
  display: inline;  
  padding: 0px 15px 0px 15px;
  font-size: 30px;
}

nav {
  float: right;
  text-align: right;
}

p{
  font-size: 200px;
}


#NavBarSmallExpanded {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    background: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(15px);
}

/*Large-screen properties, 821px and up*/
@media (min-width: 821px) {
  #NavBarBig{
    display: initial;
  }
  #NavBarSmall{
    display: none;
  }

  #NavBarBig a{
    padding: 0px 15px 0px 15px;
    font-size: 30px;
    font-weight: 420;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }

  #NavBarBig a:hover {
    opacity: 0.6;
  }  
}

/*Small-screen properties, 820px and down*/
@media (max-width: 820px) { 
  #NavBarBig{
    display: none;
  }
  #NavBarSmall{
    display: initial;
  }

  #burger{
    margin: 8px 17px;
    transition: 0.2s;
    cursor: pointer;
  }
  #burger:hover{
    opacity: 0.7;
  }

  #NavBarSmallExpanded.show{
    display: block;
  }

  #items{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #items a{
    padding: 15px;
    margin: 20px;
    font-size: 40px;
    font-weight: 420;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }

  #items a:hover{
    opacity: 0.4;
  }

  #items a:active{
    opacity: 0.2;
  }


}
